html {
  font-family: "Microsoft Yahei", arial, helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  word-break : break-word;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, textarea, label, table, tbody, tr, th, td, input {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Microsoft Yahei", arial, helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-weight: normal;
}

